/*
 * This file is used to 'print' the guestbook poster.
 */


@media print {

    :root {
        --base-size: 24px;
    }

    body {
        box-shadow: none;
        height: auto;
    }

    #qrcode {
        display: block !important;
    }

    details::details-content {
        display: contents;
    }

    details summary::-webkit-details-marker {
        display:none;
    }

    details summary {
        display: block;
        width: 100%;
        font-size: 0;
        color: white;
    }

    #guestbook-name {
        display: block;
        font-size: 1.75rem !important;
        text-align: center;
        color: black;
    }

    p {
        margin-block: 2.5em;
        padding-inline: 2.5em;
        margin-bottom: 2em;
    }

    flex {
        display: none;
    }

    #edit-guestbook-panel, #guestbook-entries, #closed-guestbook-notice {
        display: none;
    }

    footer {
        display: none;
    }

}